body {
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}

.heading {
    color:blue;
    font-weight: bold;
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
}

.links {
    font-size: 25px;
    background-color: red;
    opacity: 0.6;
    color: white;
    width: 40%;
    border-radius: 10px;
    border: 1px solid black;
    height: 50px;
}

#ac_page_body {
    background-image: url("background_img.jpg");
    background-size: cover;
    background-position: center;
}

.back_button {
    background-color: black;
    color: white;
    border-radius: 5px;
    float: right;
    margin-right: 30px;
}

canvas {
    border: 2px solid pink;
    border-radius: 10px;
}